@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
--cor-primaria: #FFFFFF;
--cor-secundaria: #0A3871;
--cor-terciaria: #D8DFE8;  
--fonte-primaria: "Inter", sans-serif;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    line-height: 150%;
}

html{
    font-size: 62.5%;  
    max-height: 100vh;   
}
/*
*,
*:before,
*:after {
  box-sizing: inherit;
}*/


body{
    background-color:#F3F5FC;    
    /*height: 100vh;*/
}
.header__container{
    margin-top: 4rem; 
    margin-left: 4rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header__texto{
  font-size: 1.6rem;  
  font-weight: 400; 
  line-height: 1.936rem;
  color: var(--cor-secundaria);
}
.container{
    margin: 0 auto;
    display: flex;
    gap: 8rem;
   /* margin-bottom: 50px;
    margin-left: 80px;   */
}

@media (max-width: 1268px){
    .container{
        flex-direction: column;
    }

}
.entradadatos{    
    margin: 8rem 0 7.2rem 8rem;
    display:flex;
    flex-direction: column; 
    justify-content: space-between;

}
.logo{   
   
    color: var(--cor-secundaria);
}

.entradadatos__textarea{          
  background-color: #F3F5FC; 
  border: none;     
  width:68rem;
  height:28.8rem;
  font-size: 3.2rem;
  line-height: 4.8rem;
  color: var(--cor-secundaria);
  margin-bottom: 42.9rem;
  resize: none; 
}

::placeholder{
    color: var(--cor-secundaria);
}
.entradadatos__textarea:focus{
    outline: none;
}

.entradadatos__alerta{
 display: flex;
 align-items: center;
 gap: 0.8rem;
 margin-bottom: 1.6rem;
}
.hidden {
 display: none;
}

.entradadatos_alerta_texto{
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #495057;
}

.entradadatos__botones{
display: flex;
gap: 2.4rem;

}

.entradadatos__botones_boton{
  padding: 2.4rem;
  width: 32.8rem;
  border-radius: 2.4rem;
  font-size: 1.6rem;  
  font-weight: 400; 
  line-height: 1.936rem;
  text-align: center;
}

.fondo__azul{
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}
.fondo__gris{
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
}

.output{
    display:flex;
    flex-direction:column;
    }
    
    .output__container{  
      background-color: var(--cor-primaria);
      width: 40rem;
      height: 94.4rem;
      border-radius: 3.2rem;
      box-shadow: 0px 24px 32px -8px #00000014;
      margin-top: 4rem;
      margin-right: 4rem;
      margin-bottom: 4rem;
      padding: 3.2rem;
    
    }

    .output__container__inicial{
        margin-top: 24.3rem;
        /*display: flex;
        flex-direction: column;
        align-items: center;*/
    }

    .output__inicial__divtextos{
      margin-top: 3.2rem;
      width: 33.6rem;
      height: 12.2rem;
      text-align: center;
    }

    .output__inicial__cabecalho{
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 2.88rem;
        color: #343A40;
        margin-bottom: 1.6rem;
    }


    .output__inicial__texto{
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.4rem;
        color: #495057;
    }

    .div__output__resultado{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .output__resultado__texto{   
        background: white;     
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 3.6rem;   
        color: #495057;
        border: none;
        border-radius: 2.4rem;
        resize: none;
        width: 33.6rem;
        height: 78.1rem;
        margin-bottom: 3.2rem;
    }
   /* .output__resultado__texto:focus{
        outline: none;
    }*/
  
.rodape{
    background: var(--cor-terciaria);
    color:var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    padding: 2.4rem;   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
   /* position: absolute;
    bottom: 0;
    left: 0;*/
  }