@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
--cor-primaria: #FFFFFF;
--cor-secundaria: #0A3871;
--cor-terciaria: #D8DFE8;  
--fonte-primaria: "Inter", sans-serif;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: "Inter", sans-serif; 
   
}
body{
    background-color:#F3F5FC;
    /*height: 100vh;*/
    
    
}
.container{
    display: flex;
    justify-content: center;    
}
.entradadatos{
    margin: 168px 0 72px 240px;
    display:flex;
    flex-direction: column; 
    justify-content: space-evenly;

}
.logo{
    margin: 40px 0 0 40px; 
    color: var(--cor-secundaria);
}

.entradadatos__textarea{  
        
  background-color: #F3F5FC; 
  border: none;     
  width:680px;
  height:48px;
  font-family: "Inter", sans-serif;
  font-size: 3.2rem;
  line-height: 4.8rem;
  color: var(--cor-secundaria);
  margin-bottom: 300px;
  resize: none; 
}

.entradadatos__alerta{
 display: flex;
 align-items: center;
 gap: 8px;
 margin-bottom: 1.6rem;
}
.hidden {
 display: none;
}

.entradadatos_alerta_texto{
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #495057;
}

.entradadatos__botones{
display: flex;

}

.entradadatos__botones_boton{
  padding: 2.4rem;
  width: 32.8rem;
  border-radius: 2.4rem;
  font-size: 1.6rem;  
  font-weight: 400; 
  line-height: 19.36px;
  text-align: center;
}

.fondo__azul{
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}
.fondo__gris{
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
}

.output{
    display:flex;
    flex-direction:column;
    }
    
    .output__container{  
      background-color: var(--cor-primaria);
      width: 400px;
      height: 944px;
      border-radius: 32px;
      box-shadow: 0px 24px 32px -8px #00000014;
      margin-top: 40px;
      margin-right: 40px;
      margin-bottom: 40px;
      padding: 32px;
    
    }

    .output__container__inicial{
        margin-top: 243px;
    }

    .output__inicial__divtextos{
        margin-top: 32px;
      width: 336px;
      height: 122px;
      text-align: center;
    }

    .output__inicial__cabecalho{
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 28.8px;
        color: #343A40;
        margin-bottom: 16px;
    }


    .output__inicial__texto{
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 24px;
        color: #495057;
    }

    .output__resultado__texto{
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 36px;   
    }
.rodape{
    background: var(--cor-terciaria);
    color:var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    padding: 24px;   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
   /* position: absolute;
    bottom: 0;
    left: 0;*/
  }